<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="container pokemon-box">
        <div class="row">
          <div class="col-md-8 d-flex align-items-center">
            <div>
              <p class="">
                <span class="me-3">#{{ pokemon?.details?.id }}</span>
                <span>{{ pokemon.name }}</span>
              </p>
              <p>
                <span class="badge rounded-pill bg-secondary p-3 me-3">Poison</span>
                <span class="badge rounded-pill bg-secondary p-3">Plant</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col d-flex align-items-center">
                <i class="bi bi-star" style="font-size: 2rem"></i>
              </div>
              <div class="col">
                <img src="https://via.placeholder.com/90" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
