<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        <span class="me-3">#001</span>
        <span>Bulbizarre</span>
      </p>
      <p>
        <button class="btn btn-outline-secondary me-3">Poison</button>
        <button class="btn btn-outline-secondary">Plant</button>
      </p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col"><i class="bi bi-star" style="font-size: 2rem;" ></i></div>
        <div class="col"><img src="https://via.placeholder.com/150" alt=""></div>
      </div>

    </div>
  </div>
</div>
